<%- include('partials/header')%>

        <!-- Include DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
        <!-- Include DataTables JS -->
        <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<!-- send back the content of the file -->
<%- include('partials/navbar')%>

<%- include('partials/modal', { parserNames })%>

<main class="main">
    <header class="header-transaction">
        <div class="account-selection">
            <form action="/transactions" method="GET" id="accountSelectionForm" name="accountSelectionForm">
                <label for="account">Select Account</label><br>
                <select name="account" id="account" onchange="accountSelect()">
                    <option disabled selected value> -- select an option -- </option>
                    <option value=""> -- All Account -- </option>
                    <% accountList.forEach(function(account) { %>
                    <option value="<%=account%>" <%= (account == accountSelectedId) ? "selected" : "" %>><%=account%></option>
                    <% }); %>
                </select>
            </form>    
        </div>

        <% if (accountSelectedId) { %>
        <div id="account-details">
            <form action="/accounts" method="POST" id="accountForm" name="accountForm">
                <% if (accountSelected) { %>
                <input type="hidden" value="<%= accountSelected._id %>" name="accountId"/>
                <span>
                    <%= accountSelected.BankName %>
                </span>
                <span>
                    <%= accountSelected.AccountNumber %>
                </span>
                <div>
                    <input type="text" value="<%= accountSelected.Description %>" name="actDescription"/>
                    <input type="text" value="<%= accountSelected.Currency %>" name="actCurrency"/>
                    </div>
                <% } else { %>
                <input type="text" value="Enter bank name ..." name="actBankName"/>
                <input type="text" readonly="readonly" value="<%= accountSelectedId %>" name="actNumber"/>
                <input type="text" value="Enter account description" name="actDescription"/>
                <input type="text" value="Enter account currency" name="actCurrency"/>
                <% } %>
                <div>
                    <button type="submit">Update Account</button>
                </div>
            </form>
        </div>
        <% } %>

        <div class="account-txImport">
      		<button id="importTxModal" class="button-import">Import Transactions</button>
        </div>
    </header>

    <section class="container-transaction">
        <% transactionList.forEach(function(tx, idx) { %>
            <form action="/transactions" method="POST" id="txForm-<%= idx + 1 %>" name="txForm-<%= idx + 1 %>">
            </form>
        <% }); %>

        <datalist id="categories">
            <% categoryList.forEach(function (ctg) { %>
                <option value="<%= ctg.CategoryName %>">
            <%  }); %>
        </datalist>
        <table id="transactionTable" class="display compact">
            <thead>
                <tr>
                    <th>Acct #</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Comment</th>
                    <th>Categories</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <% transactionList.forEach(function(tx, idx) { %>
                    <tr>
                        <input type="hidden" value="<%= accountSelectedId %>" name="actId" form="txForm-<%= idx + 1 %>"/>
                        <input type="hidden" value="<%= tx._id %>" name="txId"  form="txForm-<%= idx + 1 %>"/>
                        <td class="transaction-accountnumber">
                            <%= tx.AccountNumber %>
                        </td>
                        <td class="transaction-date">
                            <%= tx.TransactionDate.toLocaleDateString('fr-FR') %>
                        </td>
                        <td class="transaction-description">
                            <%= tx.Description %>
                        </td>
                        <td class="transaction-comment">
                            <input type="text" value="<%= tx.Comment %>" name="txComment" form="txForm-<%= idx + 1 %>" data-form-id="txForm-<%= idx + 1 %>"/>
                        </td>
                        <td class="transaction-category">
                            <input type="text" name="txNewCategory" id="txNewCategory" list="categories" form="txForm-<%= idx + 1 %>" data-form-id="txForm-<%= idx + 1 %>"/><br />
                            <% tx.Categories.forEach(function(category) { %>
                            <span class="tx-category" data-form-id="txForm-<%= idx + 1 %>">
                                <%= category %>
                            </span>&nbsp
                            <% }); %>
                        </td>
                        <td class="transaction-amount" >
                            <span class="<%= tx.Amount > 0 ? 'tx-positive' : 'tx-negative' %>">
                                <%= Intl.NumberFormat('fr-FR').format(tx.Amount) %>
                            </span>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    
    </section>
</main>

<script type="text/javascript" src="/js/modal.js"></script>
<script type="text/javascript" src="/js/txcategory.js"></script>

<%- include('partials/footer')%>
